/* Write your CSS here */
/* Write your CSS here */
.header {
  background-color: #64748b;
  height: 15vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.head {
  font-size: 40px;
  font-family: roboto;
  font-weight: bold;
}
